# Server Configuration
NODE_ENV=
PORT=

# MongoDB Configuration
MONGODB_URI=
MONGODB_DB_NAME=

# MYSQL Configuration
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# RabbitMQ Configuration
RABBITMQ_URL=
RABBITMQ_QUEUE=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=

# API Keys 
VALID_API_KEYS=

# Rate Limiting
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX_REQUESTS=